#Mac/OSX
.DS_Store

# Source for the following rules: https://raw.githubusercontent.com/github/gitignore/master/Python.gitignore
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
app/.env
.env.dev
.env.prod
.env.prod-db
.env.prod.db
*$py.class

# Early fixtures for first data load.
app/*/fixtures/initial*.json
app/*/fixtures/*.txt
app/fixtures/users.json

# Django staticfiles directory, created by manage.py collectstatic
app/staticfiles

# User data, includes passwords
users-dev.json
users-prod.json

#Reminder of where to find docker instructions
DEVNOTES.md
data/*
!data/.gitkeep
