<!-- 
    This is the base template. 
	It contains the header, footer, and nav. 
	All other templates extend this one.
-->

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title%}The ITPS Archival Research Database{% endblock %}</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static 'onepage.css' %}"/>
	{% block scripts %}{% endblock %}

</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a href="#dashboard">Dashboard</a></li>
				<li><a href="#dataviz">DataViz</a></li>
				<li><a href="#about">About</a></li>
				<li><a href="{% url 'admin:index' %}">Login</a></li>
			</ul>
		</nav>
	</header>
	<main>
		{% block content %}{% endblock %}
	</main>
	<footer>
		<p>Site and Database Designed by <em><a href="http://lemoneggsdata.com" target="_blank">Lemon & Eggs Data Design</a></em> using <a href="https://www.djangoproject.com/" target="_blank">Django</a> and <a href="https://www.postgresql.org/" target="_blank">PostgreSQL</a>.</p>
		<p>Copyright Iona College 2021</p>
	</footer>
</body>
</html>