{% extends 'base.html' %}

{% block scripts %}
 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-ajax/2.1.0/leaflet.ajax.min.js"></script>
{% endblock %} <!-- scripts -->

{% block content %}
<section class="top">
	<h1>The ITPS Archival Research Database</h1>
	<p>The ITPS Archival Research Database holds, expands, and analyzes the inventory of the Thomas Paine National Historical Association Collection housed in the Ryan Library at Iona College in New Rochelle, New York.</p>
	<p>The Archival Research Database is currently locked to ITPS and Ryan Library staff. For more information on the TPHNA Collection, including whom to contact with questions regarding the physical archive, visit <a href="http://theitps.org/archives/tpnha/" target="_blank">the TPNHA Collection page on the ITPS Research Portal</a>.</p>

<!-- 	<p>With generous funding from the Gardiner Foundation, The ITPS has begun a multi-year project to create a Digital Archive from the physical TPNHA Collection. The Archival Research Database contains the foundational metadata for the future Digital Archive and provides Iona College students, faculty, and staff a way to create and enhance inventory records while also answering recombinatorial research queries.</p> -->
</section>

<section>
	<h1>TPNHA Inventory Dashboard</h1>
	<p>We intend to have the TPNHA inventory finalized by Summer 2022. We estimate that there are approximately one thousand items in the collection, as recieved by Iona College. In the meantime, you can follow our progress in real time. We will only provide item specific details for item records that have completed our rigorous review process.</p>
	<p>As of <em>right now</em>, the ITPS Archival Research Database contains records for:</p>
	<div class="row">
		<div class="card">
			<p class="number">{{ num_items }}</p>
			<p class="type">Items</p>
		</div>
		<div class="card">
			<p class="number">{{ num_people }}</p>
			<p class="type">People</p>
		</div>
		<div class="card">
			<p class="number">{{ num_orgs }}</p>
			<p class="type">Organizations</p>
		</div>
		<div class="card">
			<p class="number">{{ num_places }}</p>
			<p class="type">Places</p>
		</div>
	</div> <!-- end row -->

</section>

<section>
	<h1>Data Visualizations</h1>
	<div id="mapid" style="width: 100%; height: 300px"></div> <!-- end mapid -->
		<script>
			var tpnha_map = L.map('mapid').setView([35.0, -45.0], 2);

			var Stamen_Watercolor = L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/watercolor/{z}/{x}/{y}.{ext}', {
				attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
				subdomains: 'abcd',
				minZoom: 1,
				maxZoom: 16,
				ext: 'jpg'
			});
			tpnha_map.addLayer(Stamen_Watercolor);

			var geojson = new L.GeoJSON.AJAX("data/locations.geojson");
			geojson.on('data:loaded', function() {
				geojson.addTo(tpnha_map)
			});

		</script>

</section>


{% endblock %}